/* responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .p-icon img{
        display: none;
      }
}

@media screen and (max-width: 576px) {
    .header{
        padding-bottom: 0px;
    }
    .ham-menu{
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding-right: 20px;
    }
    .navbar{
        display: none;
    }
    .banner-title{
        flex-direction: column;
    }
    .banner-content{
        max-width: 100%;
        width: 80%;
        margin: 30px;
    }
    .health{
        font-size: 3rem;
        line-height: 60px;
    } 
    .fit{
        font-size: 3rem;
    }
    .banner-img{
        margin-left: 20px;
        margin-top: 0px;
    } 
    .p-icon img{
      display: none;
    }

    .card-1{
        max-width: 100%;
        bottom: 350px;
        right: 100px;
    }
    .card-1 h1{
        font-size: 2.4rem;
    }
    .card-2{
        max-width: 100%;
        bottom: 150px;
        right: 300px;
    }

    /* habit */
    .change-habit{
        max-width: 100%;
        width: 100%;
    }
    .habit-title{
        flex-direction: column;
        max-width: 100%;
        width: 100%;
    }
    .text-h{
        font-size: 2.2rem;
    }
    .text-p{
        padding: 5px;
    }
    .a-1{
        margin: 10px;
    }
    .mv-1{
        margin-top: 10px;
     }
    /* run */
    .run{
        flex-direction: column;
        max-width: 100%;
        height: 500px;
        align-items: center;
    }
    .run-card{
        flex-direction: column;
        width: 100%;
        margin: 20px;
        padding: 0px 20px;
    }

    .run-card h1{
        font-size: 2rem;
     }
     .run-card p{
        font-size: 0.7rem;
     }
     .run-card button{
        width: 100%;
     }
     .run-image{
        margin: 10px;
     }
    .run-image img{
        width: 100%;
    }
    
    /* BMI */
    .bmi-content{
        flex-direction: column;
        max-width: 100%;
    }
    .bmi-head{
        padding: 0;
    }
    .bmi-head h1{
        font-size: 2rem;
        
    }
    .bmi-table, .bmi-form{
        align-items: center;
        margin: 0;
        width: 100%;
     }
     .bmi-text{
        padding: 20px 0;
        font-size: 1.2rem;
        width: 80%;
     }
     .table-content{
        width: 80%;
     }
     .form-content{
        padding: 10px;
        width: 100%;
    }
    .form-content h1{
        font-size: 1.3rem;
    }
    .grid-container{
        padding: 10px;
    }
    /* meet-team */
   
    .team-img{
        grid-template-columns: repeat(1,1fr);
        padding: 20px;
    }
    .special-1{
        display: none;
    }
    .text-t{
        font-size: 2.2rem;
    }
    /*review section  */
    .review-main{
        flex-direction: column;
    }

    /* footer */
    .footer-main{
       height: 700px;
    }
    .foot{
        flex-direction: column;
        max-width: 100%;
    }
    .footer{
        width: 100%;
        margin-left: 0px;
    }
    .footer p{
        line-height: 20px;
        margin-left: 20px;
    }
    .f-text{
        width: 80%;
        padding-top: 10px;
    }
    .last-content{
        margin-top: 45%;
    }
       
 }