@import url('https://fonts.cdnfonts.com/css/miama');
.font{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 6rem; 
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    background-color: rgba(17, 17, 17);
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    background-image: linear-gradient(to bottom, #0d0d0d, #171717, #1b1a1a, #d2d0d0, #999898, #060404);
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style start */
.d-flex{
    display: flex;
}
.b-color{
    background-color: black;
}
.p-color{
    color: rgb(230, 83, 60);
}

.w-color{
    color: white;
    font-size: 3rem;
}
.white{
    color: white;
}
.gray-c{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
}
.gray-c1{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.6rem;
}
.btn-primary{
    background-color: rgb(230, 83, 60);
    color: white;
    border-radius: 30px;
    font-size: 1rem;
    padding: 12px 30px;
    justify-content: center;
    border: none;
}

/* shared style ends */

.header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    /* max-width: 1440px; */
    /* max-height: 900px; */
    /* border: 1px solid red; */ 
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}
/* banner style start */

.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 20px;
    max-width: 1460px;
    /* max-height: 46px; */
}
.fit{
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(230, 83, 60);
}

li{
    display: inline-block;
    list-style: none;
    margin-right: 45px; 
    align-items: center;
}
nav li a{
    text-decoration: none;
    color: white;
}
.b-text{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    padding: 20px 0px;
}
.nav-link{
    border-radius: 40px;
    border: 1px solid rgb(53, 52, 52);
}

/* banner */

.banner-head{
    width: 100%;
    margin-bottom: 100px;
}
/* .b-child{
    width: 100%;
} */
.banner-content{
    /* border: 2px solid white; */
    width: 25%;
    color: white;
    margin: 100px 200px;
    box-sizing: border-box;
}
.banner-content button{
    margin: 5px;
}
.health{
    font-size: 4rem;
    font-weight: 800;
    line-height: 100%;
} 

.btn{
    color: white;
    background-color: rgb(34, 34, 34);
    font-size: 1rem;
    padding: 12px 30px;
    border-radius: 30px;
    border: 1px solid rgb(80, 79, 79);
}
.banner-img{
    background-size: cover;
    background-position: center;
    margin-left: 250px;
    /* border: 2px solid white; */
    max-width: 350px;
    max-height: 500px;
    margin-top: 60px;
} 

.p-icon{
    position: relative;
}
.p-icon img{
    max-width: 25px;
    max-height: 25px;
    position: absolute;
    top: -200px;
    left: 1050px;
}
.ham-menu{
    display: none;
}
.head-card{
    position: relative;
}
.card-1{
    border: 1px solid gray;
    max-width: 100%;
    /* max-height: 80px; */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    position: absolute;
    top: -380px;
    left: 1370px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.dot{
    height: 25px;
    width: 25px;
    background-color: orangered;
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 6px;
    margin-right: 10px;
}
.card-2{
    border: 1px solid gray;
    max-width: 100%;
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    position: absolute;
    top: -170px;
    left: 1060px; 
    border-radius: 5px;
    padding: 10px;

}
 /* banner style end */

 /* change habit start*/
 .change-habit{
    max-width: 1100px;
    /* max-height: 600px; */
    margin: 0 auto;
    margin-bottom: 40px;
 }
 .habit{
    max-width: 100%;
    justify-content: center;
    text-align: center;
 }
 .text-h{
    padding-top: 20px;
    font-size: 3rem;
 }
 .text-p{
    margin: 0 auto;
    padding: 50px;
 }
 .br-img{
    border-radius: 50%;
 }
 .a-1{
    color: white;
    align-items: center;
    text-align: center;
    margin: 40px;
 }
 .habit-title{
    justify-content: center;
    align-items: center;
 }
 .mv-1{
    margin-top: 20px;
    padding: 10px;
 }

 /* change habit end */

 /* run section start */

 .run{
    background-color: rgba(35, 33, 33, 0.817);
    width: 70%;
    height: 370px;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-bottom: 40px;
    justify-content: space-between;
    justify-content: center;
    border-radius: 10px;
    margin-top: 100px;
    box-sizing: border-box;
 }

 .run-card{
    align-items: left;
    margin: 50px;
    width: 50%;
    /* border: 2px solid red; */
 }
 .run-text{
    margin: 5%; 
 }
 .run-text h1{
    color: white;
    /* padding-left: 20px; */
    font-weight: 800;
    font-size: 2.6rem;
 }
 .run-card p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    padding-top: 20px;
    padding-bottom: 20px;
 }
 .run-card button{
    width: 140px;
 } 

.run-image{
    margin: 10px;
    overflow: hidden;
    border-radius: 20px;
    object-fit: cover;
}
.run-image img{
   width: 100%;
   height: 100%;
   transform: translate(-45% , 30%) scale(2.5);
}
 /* run section ends */


/* BMI section style start */
.bmi-main-section{
    max-width: 100%;
    padding: 30px;
    /* border: 2px solid red; */
}
.bmi-head{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 auto;
    max-width: 670px;
    padding: 30px;
 }

.bmi-head h1{
    color: white;
    font-size: 2.2rem;
    padding: 7px;
}
.bmi-head p{
    color: gray;
    font-size: .8rem;
    padding: 10px;
    margin-bottom: 30px;
}
.bmi-content{
    max-width: 100%;
    /* height: 500px; */
    /* margin: 0 auto; */
    border: 2px solid red;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(35, 33, 33, 0.817);
    box-sizing: border-box;
}

.bmi-table, .bmi-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    width: 50%;
    /* width: 400px;
    height: 310px; */
 }

.bmi-table{
    width: 300px;
    /* border: 2px solid yellow; */
}
.bmi-table h1{
    /* margin: -10px; */
}
.bmi-text{
    color: white;
    padding: 50px;
}

.bmi-table th,td{
    border: 1px solid gray;
    padding: 5px 10px;
    /* border-collapse: collapse; */
}
.table-content{
    border-collapse: collapse;
}

.bmi-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    /* border: 2px solid yellow; */
    padding: 10px;
    width: 100%;
   
}
.form-content h1{
    padding: 10px;
}
.form-content p{
    padding: 10px;
}
.cal-form{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: repeat(12, 1fr); */
    grid-gap: 10px;
    margin-top: 20px;
}
.cal-form input{
     /* margin-top: 20px; */
     padding: 10px;
}

.child-1{
    /* background-color: gray; */
    grid-column: 1/span 6;
    /* grid-row: 1/span 2; */
    border-radius: 5px;
    /* width: 200px;
    height: 48px; */
}
.child-2{
    /* background-color: gray; */
    grid-column: 7/span 12;
    /* grid-row: 1/span 6; */
    border-radius: 5px;
    width: 220px;
    /* height: 48px; */

}
.child-3{
    /* background-color: gray; */
    grid-column: 1/span 6;
    /* grid-row: 1/span 2; */
    border-radius: 5px;
    /* height: 48px; */
}
.child-4{
    /* background-color: gray; */
    grid-column: 7/span ;
    /* grid-row: 1/ span 2; */
    border-radius: 5px;
    width: 220px;
    /* height: 48px; */
}
.child-5{
    
    grid-column: 1/span 6;
    /* grid-row: 5/span 4; */
    border-radius: 5px;

    /* height: 48px; */
}
 
input[type=text] , select, ::placeholder{
    border: 1px solid gray;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    color: rgb(54, 53, 53);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;

}

input[type=submit]{
    background-color: rgb(230, 83, 60);
    color: white;
    font-size: 1rem;
    padding: 13px 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
   
}

input[type=submit]:hover{
    background-color: rgb(0, 255, 166);
}
/* BMI section style End */

/* Our Team  Style Start */

.our-team{
  /* border: 2px solid red; */
  margin: 20px;
  max-width: 1120px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.meet-team{
    justify-content: center;
    text-align: center;
    margin: 20px;
}

.text-t{
    font-size: 46px;
    padding: 20px;
}
.meet-team p{
    line-height: 20px;
    padding-bottom: 30px;
}
  .team-img{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        /* row-gap: 20px;
        column-gap: 20px;   */
        background-color: rgba(35, 33, 33, 0.817);
        align-items: center;
        max-width: 820px;
        margin: 0 auto;
        border-radius: 20px;
        margin-bottom: 20px;
     }
     .team-img .box img{
        width: 100%;
        height: 100%;
        padding: 8px;
        margin-bottom: -30px;
     }
     
     .box{
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0 auto;
     } 

     .box img{
        object-fit: cover;
        width: 100%;
        margin: 0 auto;
        border-radius: 20px;
     }
     .hw-color{
        color: white;
        font-size: 16px;
     }
     
     .box h2{
        position: absolute;
        top: 70%;
        margin-left: 20px;
     }
     .box-p{
        position: absolute;
        top: 80%;
        margin-left: 20px;
     } 
/* Our Team  Style Ends */


/* footer style start */

.footer-main{
    background-color: rgba(35, 33, 33, 0.817);
    width: 100%;
}
.foot{
    max-width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    height: 400px;
    margin-bottom: 40px;
    /* max-width: 1440px; */
    /* border: 2px solid red; */
}
.footer{
    margin-left: 90px;
}
.fit{
    padding: 20px;
    font-size: 4rem;
}
.footer p{
    line-height: 30px;
}
.f-text{
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 50%;
    box-sizing: border-box;

}

.f-text h2{
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 5%;
}
.f-text p{
    font-size: 1.2rem;
    padding: 5px;
}

hr.last{
    width: 90%;
    margin: 0 auto;
}
.last-text{
    color: white;
    text-align: center;
    padding: 30px;
}
/* footer style ends */


 